@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');
@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Nanum+Gothic');

.navbar-brand, h1, h2, h3, h4 {
	font-family: 'Do Hyeon', sans-serif;
}
h5 {
	font-family: 'Do Hyeon', sans-serif;
	font-size: 18px;
}
body {
	font-family: 'Nanum Gothic', sans-serif;
}